body {
    box-sizing: border-box;
    background-color: rgb(47, 36, 47);
}

.container {
    width: 800px;
    height: 800px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.rowDiv {
    display: flex;
}

.start {
    background-color: white;
    flex: 1;
}

div .red {
    background-color: red;
}

div .orange {
    background-color: orange;
}

div .yellow {
    background-color: yellow;
}

div .green {
    background-color: green;
}

div .blue {
    background-color: blue;
}

div .indigo {
    background-color: indigo;
}

div .violet {
    background-color: violet;
}