html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/*  ----------------------------------------------------------------------------------------------  */

:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --void: #0E0B16;
    --fuschia: #a239ca;
    --jewel: #4717f6;
    --stark: #E7DFDD;
}

body {
    height: 100vh;
}

.game {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}

.gameboard {
    height: 500px;
    width: 500px;
    background-color: gray;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameboard>.cell {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.game-start.modal-container,
.game-start-pvp.modal-container,
.game-start-pve.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--void);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    /* transition: opacity 0.3s ease; */
}

.game-end.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: var(--void);
    color: var(--stark);
    border: 3px solid var(--jewel);
    border-radius: 10px;
    height: 250px;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
}

.game-select.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px rgba(71, 23, 246, 0.5);
}

.game-select.modal>h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.game-select.modal>.buttons {
    display: flex;
    gap: 20px;
}

.game-select.modal>.buttons>button {
    width: 200px;
    height: 50px;
    background-color: var(--void);
    border: 3px solid var(--fuschia);
    border-radius: 8px;
    color: var(--fuschia);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.game-select.modal>.buttons>button:hover {
    background-color: var(--fuschia);
    color: var(--void);
    box-shadow: 0px 0px 10px 5px rgba(162, 57, 202, 0.3);
}

.player-inputs.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(71, 23, 246, 0.5);
}

.player-inputs.modal>h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.player-inputs.modal>input {
    height: 40px;
    width: 350px;
    border: 3px solid var(--stark);
    background-color: var(--void);
    color: var(--stark);
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.player-inputs.modal>.buttons {
    display: flex;
    gap: 20px;
}

.player-inputs.modal>.buttons>button {
    width: 200px;
    height: 50px;
    background-color: var(--void);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid var(--fuschia);
    color: var(--fuschia);
}

.player-inputs.modal>.buttons>button:hover {
    background-color: var(--fuschia);
    color: var(--void);
    box-shadow: 0px 0px 10px 5px rgba(162, 57, 202, 0.3);
}