html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ============================================================= */

:root {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: 1fr / 400px 1fr;
    height: 100vh;
}

.sidebar {
    background-image: linear-gradient(rgb(95, 252, 239), rgb(53, 248, 141));
    grid-area: 1 / 1 / 2 / 2;
}

.main {
    background-color: rgb(26, 26, 26);
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}

.main>.head-section {
    flex: 1;
    display: flex;
}

.main>.head-section>.header {
    background-color: white;
    margin: 30px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.title {
    flex: 6;
}

.author {
    flex: 3;
    border-left: 1px solid gray;
}

.pages,
.status {
    flex: 1;
    border-left: 1px solid gray;
}

.main>.head-section>.add-button {
    width: 100px;
    border: 3px solid rgb(95, 252, 239);
    border-radius: 8px;
    background-color: rgb(26, 26, 26);
    color: rgb(95, 252, 239);
    margin: 30px;
    margin-left: 0px;
}

.main>.book-list {
    flex: 6;
    /* background-color: green; */
}

.main>.book-list>.book-item {
    display: flex;
}

.main>.book-list>.book-item>.book {
    background-color: white;
    margin: 20px 30px 0px 30px;
    height: 50px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

.main>.book-list>.book-item>.delete-button {
    width: 100px;
    border: 3px solid rgb(252, 95, 95);
    border-radius: 8px;
    background-color: rgb(26, 26, 26);
    color: rgb(252, 95, 95);
    margin: 20px 30px 0px 0px;
}